<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Welcome to kokan">
    <title>Welcome to Kokan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	 <!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  </head>
  <body>
    
  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="/images/1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h1>Welcome to Kokan!</h1>
          <h3 class="light grey-text text-lighten-3">Launching Soon...</h3>
        </div>
      </li>
      <li>
        <img src="/images/2.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h1>Welcome to Kokan!</h1>
          <h3 class="light grey-text text-lighten-3">Launching Soon...</h3>
        </div>
      </li>
    </ul>
  </div>
      
	
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  
    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
   <script>
   $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
	 </script>
  </body>
  
</html>
